/*override*/
.ui-button-text-only .ui-button-text{
	padding: 0.4em 0.9em;
}

div#viewer, .sovContainer, .ma3d-sv-container, .ma3d-sov-container {
	background-color: #777777;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

div#toolbar {
	background-color: #B3B3B3;
	border: 1px solid lightgrey;
	bottom: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 240px;
	overflow: auto;
	/*border-radius: 10px 10px 10px 10px;*/
}

div#canvascontainer {
	border: 1px solid lightgrey;
	bottom: 5px;
	left: 5px;
	position: absolute;
	right: 255px;
	top: 5px;
	/*border-radius: 10px 10px 10px 10px;*/
}

.giscene_canvas {
	/*border-radius: 10px 10px 10px 10px;*/
}

.toolbar-header {

	border-bottom: 1px solid #555555;
	color: #FFFFFF;
	font: 11px sans-serif;
	padding: 5px 5px 5px 20px;
}

.toolbar-header.closed {
	background: url("../lib/resources/images/opener_closed.png") no-repeat scroll 0 50% #657487;
}

.toolbar-header.opened {
	background: url("../lib/resources/images/opener_opened.png") no-repeat scroll 0 50% #657487;
}

.toolbar-content {
	/*height: 50px;*/
	border-bottom: 1px solid #D3D3D3;
	padding: 10px;
}

.toolbar-content-box {
	margin-bottom: 10px;
}

.toolbar-content-box-header {
	margin-top: 5px;
}

.tools-button.ui-button{
	min-width:75px;
}

/* button with custom icon */
.sovTools-button-icon>.ui-button-text{
	background-size: 19px auto;
	background-position: 2px center; 
	background-repeat: no-repeat;
	padding-left: 24px;
}

.sovIcon-info>.ui-button-text{
	background-image: url('../lib/resources/images/info.png');
}

.sovIcon-lamp>.ui-button-text{
	background-image: url('../lib/resources/images/lamp.png');
}

.sovIcon-cross>.ui-button-text{
	background-image: url('../lib/resources/images/cross.png');
}

.sovIcon-measure>.ui-button-text{
	background-image: url('../lib/resources/images/measure.png');
}

.sovIcon-fullscreen>.ui-button-text{
	background-image: url('../lib/resources/images/fullscreen.png');
}

/*.tools-button-info>.ui-button-text {
	background-image: url('../lib/resources/images/info.png');
	background-size: 19px auto;
	background-position: 2px center; 
	background-repeat: no-repeat;
	padding-left: 24px;
}

.tools-button-lamp>.ui-button-text {
	background-image: url('../lib/resources/images/lamp.png');
	background-size: 19px auto;
	background-position: 2px center; 
	background-repeat: no-repeat;
	padding-left: 24px;
}*/

#viewfrombuttons button{
	background-repeat: no-repeat,repeat-x;
	background-attachment: scroll;
	background-position: 50% center;
}
#viewfromleft {
	background-image: url("../lib/resources/images/left.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_aebed5_1x400.png");
	background-color: #AEBED5;
}

#viewfromleft.ui-state-hover,#viewfromleft.ui-state-focus{
	background-image: url("../lib/resources/images/left.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png");
	background-color: #DADADA;
}

#viewfromleft.ui-state-active{
	background-image: url("../lib/resources/images/left.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_65_d9b81b_1x400.png");
	background-color: #D9B81B;
}

#viewfromfront {
	background-image: url("../lib/resources/images/front.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_aebed5_1x400.png");
	background-color: #AEBED5;
}
#viewfromfront.ui-state-hover,
#viewfromfront.ui-state-focus{
	background-image: url("../lib/resources/images/front.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png");
	background-color: #DADADA;
}
#viewfromfront.ui-state-active{
	background-image: url("../lib/resources/images/front.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_65_d9b81b_1x400.png");
	background-color: #D9B81B;
}

#viewfromright {
	background-image: url("../lib/resources/images/right.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_aebed5_1x400.png");
	background-color: #AEBED5;
}
#viewfromright.ui-state-hover,
#viewfromright.ui-state-focus{
	background-image: url("../lib/resources/images/right.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png");
	background-color: #DADADA;
}
#viewfromright.ui-state-active{
	background-image: url("../lib/resources/images/right.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_65_d9b81b_1x400.png");
	background-color: #D9B81B;
}

#viewfromback {
	background-image: url("../lib/resources/images/back.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_aebed5_1x400.png");
	background-color: #AEBED5;
}
#viewfromback.ui-state-hover,
#viewfromback.ui-state-focus{
	background-image: url("../lib/resources/images/back.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png");
	background-color: #DADADA;
}
#viewfromback.ui-state-active{
	background-image: url("../lib/resources/images/back.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_65_d9b81b_1x400.png");
	background-color: #D9B81B;
}

#viewfromtop {
	background-image: url("../lib/resources/images/top.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_aebed5_1x400.png");
	background-color: #AEBED5;
}
#viewfromtop.ui-state-hover,
#viewfromtop.ui-state-focus{
	background-image: url("../lib/resources/images/top.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png");
	background-color: #DADADA;
}
#viewfromtop.ui-state-active{
	background-image: url("../lib/resources/images/top.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_65_d9b81b_1x400.png");
	background-color: #D9B81B;
}

#viewfrombottom {
	background-image: url("../lib/resources/images/bottom.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_aebed5_1x400.png");
	background-color: #AEBED5;
}
#viewfrombottom.ui-state-hover,
#viewfrombottom.ui-state-focus{
	background-image: url("../lib/resources/images/bottom.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png");
	background-color: #DADADA;
}
#viewfrombottom.ui-state-active{
	background-image: url("../lib/resources/images/bottom.png"),url("../lib/jquery-ui/css/custom-theme/images/ui-bg_glass_65_d9b81b_1x400.png");
	background-color: #D9B81B;
}

/*general*/
.sovBold {
	font-weight: bold;
}

.sovLoading {
	height: 32px;
	background-image: url('../lib/resources/images/maya-spinner.gif');
	background-repeat: no-repeat;
}

.sovToolContainer{
	margin: 5px 0 0 5px;
}

/* segmented model selection */

ul.sovSegmentsList {
	padding-left: 0.7em;
	font-size: larger;
	margin: 5px 0 0 0;
}
ul.sovSegmentsList>li {
    background-image: url("../lib/resources/images/select_segment/node.svg"), url("../lib/resources/images/select_segment/edge_middle.svg");
    background-position: 0 0.2em, 0 top;
    background-repeat: no-repeat, repeat-y;
    background-size: 1em auto;
    list-style: none outside none;
    padding-left: 1.3em;
    padding-bottom: 0.5em;
    cursor: pointer;
}
ul.sovSegmentsList>li:first-of-type {
    /*background-image: url("./lib/resources/images/select_segment/node.svg"), url("./lib/resources/images/select_segment/edge_middle.svg");*/
    background-position: 0 top, 0 top;
    /*background-repeat: no-repeat, repeat-y;*/
}
ul.sovSegmentsList>li:last-of-type {
    /*background-image: url("./lib/resources/images/select_segment/node.svg"), url("./lib/resources/images/select_segment/edge_bottom.svg");*/
    background-repeat: no-repeat, no-repeat;
}

ul.sovSegmentsList>li:hover, .selected{
	background-image: url("../lib/resources/images/select_segment/node_hover.svg"), url("../lib/resources/images/select_segment/edge_middle.svg");
	outline: 1px outset #D3D3D3;
}

div.sovSelectSegmentedShort {
	font-size: smaller;
	font-weight: normal;
	cursor: default;
}

div.sovSelectSegmentedShort tr:hover {
	background-color: #DADADA;
}

div.sovSelectSegmentedShort h4 {
    margin-bottom: 0.3em;
}
button.sovMore {
	display: block;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #0000FF;
	padding: 0;
	text-decoration: underline;
	cursor: pointer;
}

.sovAttributeWindow tr:hover {
	background-color: #d3d3d3;
}

.sovAttributeWindow td {
	vertical-align: top;
}

.sovAttributeWindow td:first-of-type {
	font-weight: bold;
}
